footer{
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    padding: 5.2rem 2.4rem;
    margin-top: 7.6rem;
    .footer__left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    .footer__right{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3.6rem;
    }
    .footer__brand{
        img{
            width: auto;
            height: 2.6rem;
        }
    }
    .footer__nav{
        display: flex;
        flex-direction: column;
        color: $color-white;
        margin-top: 2.4rem;
    }
    .footer__nav-item{
        padding:1.2rem;
    }
    .footer__socials{
        display: flex;
        align-items: flex-end;
        gap: 1.6rem;
    }
    .footer__copy{
        padding-top:1.6rem;
    }
    .footer__nav-link,.footer__socials-link{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            transform: translateX(-50%);
            transition: width .2s ease;
            width:0;
            height:0.2rem;
            background-color: $color-white;
        }
        &:hover{
            &::after{
                width:100%;
            }
        }
    }
}

@media screen and(min-width:$sm-screen) {
    footer{
        
        .container{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
        .footer__left{
            align-items: flex-start;
        }
        .footer__right{
            margin-top: 0;
            align-items: flex-end;
        }
        .footer__nav{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

    }
}

@media screen and(min-width:$lg-screen) {
    footer{
        padding:2.4rem;
        margin-top: 18.3rem;
        .footer__nav{
            display: flex;
            flex-direction: row;
            margin:0;
            padding:0;
        }
        .footer__nav-item{
            padding:2.4rem 2.8rem 0 0;
        }
        .footer__right{
            margin:0;
            align-items: flex-end;
        }
        .footer__copy{
            padding-top: 2.4rem;
        }
    }
}