footer{
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    padding: 5.2rem 0;
    margin-top: 7.6rem;
    .footer__left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    .footer__right{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3.6rem;
    }
    .footer__brand{
        img{
            width: auto;
            height: 2.6rem;
        }
    }
    .footer__nav{
        display: flex;
        flex-direction: column;
        color: $color-white;
        margin-top: 2.4rem;
    }
    .footer__nav-item{
        padding:1.2rem;
    }
    .footer__socials{
        display: flex;
        gap: 1.6rem;
    }
    .footer__copy{
        padding-top:1.2rem;
    }
}