.our-creations{
    margin-top: 4.2rem;
    display: grid;
    grid-template-columns: 1fr;
    padding:2.4rem;
    &__header{
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        margin-bottom: 5.2rem;
    }
    &__nav{
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        justify-content: center;
        align-items: center;
    }
    &__nav-item{
        text-transform: uppercase;
        a{
            position: relative;
            span{
                position: absolute;
                bottom: 2.4rem;
                left:1.8rem;
                z-index: 10;
                width: 11rem;
                font-size:1.8rem;
                font-family: $font-secondary;
                color:$color-white;
            }
        }
    }
    &__btn-sm{
        display: block;
    }
    &__btn-md{
        display: none;
    }
    &__mobile{
        display:inline-block;
    }
    &__desktop{
        display: none;
    }
}

@media screen and(min-width:$sm-screen) {
    .our-creations{
        &__nav{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and(min-width:$md-screen) {
    .our-creations{
        &__header{
            justify-content: space-between;
        }
        &__mobile{
            display: none;
        }
        &__desktop{
            display: inline-block;
        }
        &__nav{
            grid-template-columns: repeat(4,1fr);
        }
  
        &__btn-sm{
            display: none;
        }
        &__btn-md{
            display: block;
        }
    }    
}

@media screen and(min-width:$lg-screen) {
    .our-creations{
        &__header{
            margin-bottom: 8.2rem;
        }
        &__nav-item{
            text-transform: uppercase;
            a{
                position: relative;
                span{
                    bottom: 3.6rem;
                    left:4.2rem;
                    font-size:3rem;
                }
            }
        }
    }
}