$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-gray-regular: hsl(0, 0%, 55%);
$color-gray-bold: hsl(0, 0%, 55%); 

$font-primary: 'Alata', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;

$sm-screen: 576px;
$md-screen:768px;
$lg-screen:1140px;